<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- My Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="static/css/style.css">

    <title>Alpha Detection</title>
  </head>
  <body>
   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">Alphatech</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="https://orbitfutureacademy.id/">My Company</a>
          <a class="nav-link" href="about">About</a>
        </div>
      </div>
    </div>
  </nav>
   <!-- End Navbar -->
   <!-- Jumbotron -->
   <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Safety <span>Helmet</span> and <span>Vest</span> <br>Detection</h1>
      </div>
    </div>
   <!-- End Jumbotron -->
   <!-- Conatiner -->
    <div class="container">
      <!-- Info Panel -->
      <div class="row justify-content-center">
        <div class="col-10 info-panel">
          <div class="row">
            <div class="col-lg">
              <img src="static/img/hires.png" alt="Gambar" class= "float-left">
              <h4>Image</h4>
              <p>Input image to detection vest and helmet</p>
              <a href="gambar" class="btn btn-primary tombol">Submit</a>
            </div>
            <div class="col-lg">
              <img src="static/img/video.png" alt="Video" class= "float-left">
              <h4>Video</h4>
              <p>Input Video to detection vest and helmet</p>
              <a href="" class="btn btn-primary tombol">Submit</a>
            </div>
            <div class="col-lg">
              <img src="static/img/realtime.png" alt="realtime" class= "float-left">
              <h4>Realtime Video</h4>
              <p>Use webcam or camera to detection vest and helmet</p>
              <a href="style" class="btn btn-primary tombol">Submit</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Info Panel -->
      <!-- Workingspace -->
        <div class="row workingspace">
          <div class="col-lg-6">
            <img src="static/img/workingspace.jpg" alt="workingspace" class="img-fluid">
          </div>
            <div class="col-lg-5">
                <h3>When you <span>work</span> always wear a <span>helmet</span> and <span>vest</span></h3>
                <p>Bekerja dengan lebih aman dengan menggunakan helm dan rompi keselamatan</p>
            </div>
          </div>
        </div>
      <!-- End Workingspace -->
      <!-- Footer -->
      <div class="row footer">
        <div class="col text-center">
          <p>2022 All Rights Reserved by Team Alpha</p>
        </div>
      </div>
      <!-- End Footer -->
        




    </div>
   <!-- End Container -->
    


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
  </body>
</html>